@font-face {
   font-family: "Droid Serif";
   src: url("DroidSerif-Regular.ttf") format("truetype");
}
@font-face {
   font-family: "Aller";
   src: url("Aller_Rg.ttf") format("truetype");
}
@font-face {
   font-family: "PT Sans";
   src: url("PT_Sans.ttf") format("truetype");
}

body,html{
    font-size: 12pt;
    font-family: "Helvetica Neue","Arial", "Helvetica", sans-serif;
    line-height: 1.7em;
    color:#0c1a30 ;
    background:#fff url(holy-light.png) scroll repeat-x top left;
    margin:0;
    padding:0;
    
}

a:link,a:visited{ color: #ad104f; text-decoration: none; }

h1{
   font-size: 2.7em
}

h2{
  font-size: 1.9em
}

h1,h2{
    font-weight: normal;
    text-shadow: #fff 0px 1px 1px;
    letter-spacing:0.1em;
    font-family: "Gill Sans", "PT Sans", "Arial", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

p {
    line-height: 1.8em;

}

p,li{
    font-family: "Droid Serif", "Georgia", "Arial", "Helvetica", sans-serif;

}
 ul {
	list-style: none;
	margin-left: 1em;
	padding-left: 1em;
	text-indent: -1em;
	}
 li{
list-style-type: none;
}

li:before {
   content: "» ";
}

#main{
    width:100%;
}

#header{
    padding: 1px 0px ;
    background: url(sun-spots.png) scroll no-repeat center;
}
#header h1{
    font-size:2.7em;
    text-align:center;
    color: #0c1a30
}

.content {
    width: 960px;
    margin: 0 auto;
}

.content h1, .content h2{
        color: #2c558a;

}

#hero-shot{
    /*background: url(bars.png) scroll repeat-x top left ;*/
    color:#fff;
    /*border-bottom: solid 4px #fff;*/
    height: 1px;
}
#hero-shot h1{
    text-shadow: #101f33 0px 1px 1px;
    color: #fff;
    text-align: center;
    margin-bottom:10px;
}
#hero-shot table{
    vertical-align: middle;
}
#hero-shot td{
    width:50%;
}

.left-cell{
    float:left;
}
.right-cell{
    float:right;
}
.doubles{
    overflow:auto;
}
.doubles .left-cell,.doubles .right-cell{
    width: 50%;
}

.newspaper{
    width: 100%;
    overflow:auto;
    /*background: transparent url(bars.png) repeat-y center;*/
    /*border-bottom:1px solid #fff;
    border-left:1px solid #fff;
    border-right:1px solid #fff;*/
}
.newspaper .section{
    float:left;
    width: 50%;
}
.newspaper .inner {
    margin:10px; 
    padding:25px; 
    /*background: url(holy-light.png) scroll repeat-x 0 -100px;;*/

-moz-border-radius-topleft:5px;  -webkit-border-top-left-radius:5px;
 -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
.newspaper .inner h2{
    margin:0;
    border-bottom: 1px solid #c2d1e1;
    padding:5px 0;
}

.newspaper .section.left .inner{ 
    margin-right: 5px; 

}
.newspaper .section.right .inner{ 
    margin-left: 5px; 
}

.newspaper p{
    margin: 20px 0;
    text-align: justify;
}