body,html{
    font-size: 12pt;
    font-family:  "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    color: #2c558a;
    background: #eee;
    line-height: 1.7em;
}

h1,h2{
    font-weight: normal;
}

#main{
    width:85%;
    margin: auto;
}

#header{
    border-bottom:  #2c558a solid 1px;
}