<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Snap Framework</title>
    <meta name="author" content="{{author}}"/>
    <meta name="description" content="Snap Framework: a web framework for Haskell"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>
  </head>
  <body>
    <div id="main">
      <div id="header" class="content">
        <h1>Snap Framework</h1>
      </div><!--end header-->

