body,html{
    font-size: {{base-fs}};
    font-family: {{main-fonts}};
    line-height: 1.7em;
    color:{{main-fg}};
    background:{{main-bg}};
    margin:0;
    padding:0;
    {{highlight-shadow}}
}
h1{
   font-size: {{large-fs}}
}

h1,h2{
    font-weight: normal;
}

#main{
    width:100%;
}

#header{
    padding: 5px 0px ;
}
#header h1{
    font-size:{{large-fs}};
}

.content {
    width: 85%;
    margin: 0 auto;
}

#hero-shot{
    background: {{main-fg}};
    color: {{light}};
    padding:5px 0px;
    border-bottom: {{light}} solid 1px;
    {{dark-shadow}}
}

#hero-shot table{
    vertical-align: middle;
}
#hero-shot td{
    width:50%;
}

.left-cell{
    float:left;
}
.right-cell{
    float:right;
}
.doubles{
    overflow:auto;
}
.doubles .left-cell,.doubles .right-cell{
    width: 50%;
}

