@font-face {
    font-family: "PT Sans";
    src: url("PT_Sans.ttf") format("truetype");
}

@font-face {
    font-family: "Liberation Mono";
    src: url("LiberationMono-Regular.ttf") format("truetype");
}


/*--------------------------------------------------------------------------
 * tag definitions
  ------------------------------------------------------------------------*/
body,html{
    font-size: 13pt;
    font-family: "Georgia", "Arial", "Helvetica", sans-serif;
    line-height: 1.7em;
    color:#0c1a30;
    /*background:#fff url(holy-light.png) scroll repeat-x top left;*/
    margin:0;
    padding:0;
}

tt, code, pre {
    font-family: "Liberation Mono", "monospace";
    font-size: 90%;
}

/*a:link,a:visited{ color: #ad104f; text-decoration: none; }*/
a:link,a:visited{ color: #2B7EA1; text-decoration: none; }

h1{
    font-size: 2.7em
}

h2{
    font-size: 1.9em
}

h1,h2{
    color: #2c558a;
    font-weight: normal;
    text-shadow: #fff 0px 1px 1px;
    letter-spacing:0.1em;
    font-family: "Gill Sans", "PT Sans", "Arial", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

p {
    line-height: 1.8em;

}

ul {
    list-style: none;
    margin-left: 1em;
    padding-left: 1em;
    text-indent: -1em;
}

li{
    list-style-type: none;
}

li:before {
    content: "» ";
}


/*--------------------------------------------------------------------------
 * styling for css classes
  ------------------------------------------------------------------------*/
.left-cell{
    float:left;
}
.right-cell{
    float:right;
}
.doubles{
    overflow:auto;
}
.doubles .left-cell,.doubles .right-cell{
    width: 50%;
}

.newspaper{
    width: 100%;
    overflow:auto;
/*background: transparent url(bars.png) repeat-y center;*/
/*border-bottom:1px solid #fff;
  border-left:1px solid #fff;
  border-right:1px solid #fff;*/
}
.newspaper .section{
    float:left;
    width: 50%;
}
.newspaper .inner {
    margin:10px;
    padding:25px;
    /*background: url(holy-light.png) scroll repeat-x 0 -100px;;*/

    -moz-border-radius-topleft:5px;  -webkit-border-top-left-radius:5px;
    -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
.newspaper .inner h2{
    margin:0;
    border-bottom: 1px solid #c2d1e1;
    padding:5px 0;
}

.newspaper .section.left .inner{
    margin-right: 5px;

}
.newspaper .section.right .inner{
    margin-left: 5px;
}

.newspaper p{
    margin: 20px 0;
    text-align: justify;
}


.clear {
    padding:0;margin:0;
    clear:both;
}


/*--------------------------------------------------------------------------
 * styling for divs with ids
  ------------------------------------------------------------------------*/
#content {
    width: 960px;
    margin: 0 auto;
}

#main{
    margin: 0;
    padding: 0;
    width:100%;
}

#splash{
    width: 100%;
    width: 720px;
    margin: 32px auto 16px auto;
/*    background: url(sun-spots.png) scroll no-repeat center;*/
}

#splash .logo {
    text-align: center;
    font-size: 16pt;
    width: 350px;
    margin-right: 20px;
    float: left;
}

#splash .blurb {
    margin-top: 38px;
    width: 350px;
    font-size: 20pt;
    float: left;
}


#triptych {
    /*background: #2C558A;*/
    background: #C4E7FF;
    /*background: #D6EFFF;*/
    color: #000;
    width: 100%;
    padding: 10px 0;
}

#triptych div.triptych-content {
    width: 960px;
    margin: 0px auto;
}

#triptych div div.panel {
    width: 300px;
    padding: 10px;
    margin: 0;
    float: left;
    text-align: center;
    font-size: 12pt;
    font-style: italic;
}

#triptych .panel a {
    color: inherit;
    border: none;
    text-decoration: none;
}

#triptych .panel img {
    border: none;
}


#hero-shot{
    /*background: url(bars.png) scroll repeat-x top left ;*/
    color:#fff;
    /*border-bottom: solid 4px #fff;*/
    height: 1px;
}
#hero-shot h1{
    text-shadow: #101f33 0px 1px 1px;
    color: #fff;
    text-align: center;
    margin-bottom:10px;
}
#hero-shot table{
    vertical-align: middle;
}
#hero-shot td{
    width:50%;
}


#nav {
    width: 100%;
    background: #231C69;
    color: #C4E7FF;
    padding: 3px 0;
}

#nav .heading {
    float: left;
    margin: 0 0 0 1em;
    font-family: "Gill Sans", "PT Sans", "Arial", sans-serif;
}

#nav .heading span {
    color: #fff;
}

#nav .navlist {
    float: right;
    margin: 0 1em 0 0;
}

#nav a:link, #nav a:visited {
    color: inherit;
}

#nav a:hover, #nav a:active {
    color: #fff;
}

#nav ul {
    padding: 0;
    margin: 0;
    display: inline;
}

#nav li {
    list-style-type: none;
    display: inline;
}


